/* Fonts
*/ 
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


/* Main body styles
*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

p {
  padding: 0;
  margin: 0; 
}

.calculator-container {
  height: 100vh;
  width: 100vw; 
  display: flex;
}

.calculator {
  height: 370px; /* 80 + 50 + 240 */
  margin: 0 auto;
  margin-top: 2.2rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}


/* Output screen 
*/ 
.expression,
.value {
  background-color: rgb(254, 254, 254);
}
.expression {
  height: 80px;
  text-align: right;
  width: 240px;
  font-size: 2.4rem;
}

.expression p {
  padding: 1rem;
}

.value {
  height: 50px;
  text-align: right;
  width: 240px;
  font-size: 1.4rem;
  color: rgb(122, 122, 122);
}

.value p {
  padding: 0.2rem 1rem;
}


/* Buttons and Button Container
*/ 
.buttons-container {
  display: flex;
  /* flex-direction: column; */
  width: 240px;
}

button {
  outline: none;
  border: none;
  height: 60px;
  width: 60px;
  background-color: rgb(255, 255, 255); 
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.numbers {
  height: 240px;
  width: 180px;
}

.numbers button {
  background-color: rgb(50, 50, 50);
  color: white;
}

.operations {
  height: 240px;
  width: 60px;
}

.operations button {
  background-color: rgb(90, 90, 90);
  color: white;
  height: 20%;
}
