/*---------------------------------------------------------------//
//                             Fonts                             //
//---------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100');


/*---------------------------------------------------------------//
//                       Main Body Styles                        //
//---------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

p {
  padding: 0;
  margin: 0; 
}


/*---------------------------------------------------------------//
//                       Main Calculator Styles                  //
//---------------------------------------------------------------*/
.calculator-container {
  height: 100vh;
  width: 100vw; 
  display: flex;
  flex-direction: column;
}

.calculator {
  height: 370px; /* 80 + 50 + 240 */
  margin: 0 auto;
  margin-top: 2.2rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}


/*---------------------------------------------------------------//
//                        Output Screen                          //
//---------------------------------------------------------------*/ 
.expression,
.value {
  background-color: rgb(254, 254, 254);
}
.expression {
  height: 80px;
  text-align: right;
  width: 240px;
  font-size: 2.4rem;
  overflow: hidden; 
  transition: 0.2s all;
}

.expression p {
  padding: 1rem;
}

.value {
  height: 50px;
  text-align: right;
  width: 240px;
  font-size: 1.4rem;
  color: rgb(122, 122, 122);
}

.value p {
  padding: 0.2rem 1rem;
}

.expression-medium {
  font-size: 1.8rem;
}

.expression-small {
  font-size: 1.5rem;
}

.expression-xsmall {
  font-size: 1.4rem;
}


/*---------------------------------------------------------------//
//                Buttons and Button Container                   //
//---------------------------------------------------------------*/
.buttons-container {
  display: flex;
  width: 240px;
}

button {
  outline: none;
  border: none;
  height: 60px;
  width: 60px;
  background-color: rgb(255, 255, 255); 
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.numbers {
  height: 240px;
  width: 180px;
  background-color: rgb(50, 50, 50);
}

.numbers button {
  background-color: rgb(50, 50, 50);
  color: white;
  transition: 0.3s all;
}

.numbers button:active, 
.numbers button:hover {
  background-color: rgb(45, 45, 45);
}

.operations {
  height: 240px;
  width: 60px;
  background-color: rgb(90, 90, 90); 
}

.operations button {
  background-color: rgb(90, 90, 90);
  color: white;
  height: 20%;
  transition: 0.3s all;
}

.operations button:active,
.operations button:hover {
  background-color: rgb(85, 85, 85);
}

/*---------------------------------------------------------------//
//                        Button Animation                       //
//---------------------------------------------------------------*/
@keyframes circleGrow {
  0% {
    background-color: rgba(255, 0, 0, 0.3);
    height: 0px;
    width: 0px;
  }

  100% {
    background-color: rgba(255, 0, 0, 0);
    height: 80px;
    width: 80px;
  }
}

.circle {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  transform: scale(0.0);
  transition: all 0.3s ease-in;
  position: absolute;
}

.button-circle {
  transform: scale(1);
  background-color: rgba(255, 0, 0, 0.3);
}

/* .button-circle {
  border-radius: 100%;
  animation: circleGrow 0.3s ease-out;
  margin: 20px auto;
  position: fixed;
} */

/* .temp {
  background-color: rgba(255, 0, 0, 0.37);
  height: 80px;
  width: 80px;
  border-radius: 100%;
  position: fixed;
} */

/*---------------------------------------------------------------//
//                           Github Logo                         //
//---------------------------------------------------------------*/
.github-logo-container {
  width: 100%;
  padding: 2.2rem 0;
  display: flex;
  justify-content: center;
}

.github-logo-container a,
.github-logo-container a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  -moz-transition: 0.2s color;
  -webkit-transition: 0.2s color;
  -o-transition: 0.2s color;
  transition: 0.2s color;
}

.github-logo-container a:hover {
  color: rgba(0, 0, 0, 0.76);
}